{% extends 'victoria/layout.html' %}

{% block title %}
<title>Reservas - Crear reserva</title>
{% endblock title %}

{% block body %}
<main>
    <section>
        <form action="{% url 'victoria:prueba' %}" method="post">
            {% csrf_token %}
            <h4>Selecciona una fecha</h4>
            <input type="date" name="date" id="d">
            <h4>Selecciona el check in</h4><input type="time" min="09:00" max="20:00" name="check_in" id="ck_in"
                required>
            <h4>Selecciona el check out</h4><input type="time" name="check_out" min="10:00" max="21:00" id="ck_out"
                required>
            <input type="submit" value="Reservar">
        </form>
    </section>
</main>
{% endblock body %}